// FONT FAMILY HaELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;

html, body{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Oswald', sans-serif;
	font-family: 'Merriweather', serif;
	font-family: 'Source Sans Pro', sans-serif;
}

.container{
	width: 960px;
	margin: 0 auto;
}

header{
	background-color: black;
	overflow: hidden;
}

header h1{
	font-family: 'Merriweather', serif;
	float: left;
	font-size: 30px;
	color: yellow;
}

header nav{
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
}

header nav ul li{
	display: inline-block;
	padding-top: 15px;
}

header nav ul li a{
	text-decoration: none;
	color: white;
	padding-left: 20px;
}

#yellow-line{
	height: 3px;
	background-color: yellow;
}

.caption{
	background-color: #C6C6C6;
	overflow: hidden;
	border-top: 1px;
	border-color: yellow;
}

.caption p{
	font-family: 'Merriweather', serif;
	font-style: italic;
	text-align: center;
	font-size: 20px;
}

.caption p #taste{
	text-decoration: line-through;
	color: gray;
}

.caption p #are{
	border-width: 0 0 4px 0;
	border-color: yellow;
	border-style: solid;
}

main{
	background-image: url(../img/coworking.jpg);
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 100%;
}

.hero{
	width: 400px;
	background-color: rgba(255,255,255,.8);
	padding: 30px;
	float: right;
	margin: 100px 0;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

h2{
	font-weight: 800;
	font-size: 40px;
	margin: 0;
}

.hero p{
	font-size: 15px;
	line-height: 2;
}

.yellow-button{
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	background-color: yellow;
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	border-radius: 3px;
}

aside{
	overflow: hidden;
	padding: 25px 0;
}

.action{
	width: 250px;
	display: inline-block;
	padding: 30px;
	margin-right: 6px;
}

.action:nth-child(2) {
	border-width: 0 2px;
	border-style: solid;
	border-color: lightgray;
}

h3{
	font-family: 'Merriweather', serif;	
	font-size: 20px;
}

.gray-button{
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	background: #C6C6C6;
	font-size: 15px;
	padding: 10px 0;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	border-radius: 3px;	
}

footer{
	background-color: black;
	overflow: hidden;
}

footer p{
	color: white;
	font-weight: 100;
	font-size: 15px;
	padding: 10px 0;
}



