/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.sidebar {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
  margin-left: 20px;
  width: 240px;
}

.main {
  width: 700px;
  float: left;
  padding-left: 30px;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  width: 1150px;
  margin: auto;
}

header {
  background-color: #033048;
  padding: 25px;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  color: white;
  float: left;
  padding-top: 20px;
}

nav a {
  font-size: 24px;
  font-weight: 300;
  color: yellow;
  text-decoration: none;
  margin-right: 20px;
}

nav {
  float: right;
  display: inline-block;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  padding-bottom: 30px;
}

img.images {
  margin: 0;  
}

p.main {
  font-weight: 300;
  font-size: 24px;
  color: #606161;
  padding-top: 20px;
  padding-left: 0;
}

p.main:first-letter {
  font-size: 60px;
  font-weight: 600;
  float: left;
  padding: 0 20px 0 0;  
  line-height: 1;
}

.read-more {
    color: #606161;
    font-weight: 600;
    font-size: 24px;
    margin-left: 520px;
    text-decoration: none;
}

.hairline {
    width: 700px;
    height: 2px;
    background-color: lightgray;  
    margin: 40px 0;
}

h3 {
  font-weight: 800;
  font-size: 32px;
}

.sidebar p {
  font-weight: 300;
  font-size: 10px;
  padding: 30px 0;
}

.learn-more {
  font-weight: 600;
}

ul.sidebar-list {
  font-weight: 300;
  font-size: 14px;
  padding: 30px 0;
}

.ad-unit {
  width: 250px;
  height: 600px;
  background-color: white;
  margin-top: 50px;
}

.ad-unit p {
  text-align: center;
  color: #121212;
  padding-top: 40px;
  font-size: 40px;
  font-weight: 600;
}

#aside {
  background-color: #f9e42e;
  width: 1070px;
  padding: 40px;
}

.button {
  background-color: #033048;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 200px;
  padding: 15px 60px;
  margin: 0 auto;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 8px;
}

.footer {
  background: #121212;
  padding: 40px;
}

h4 {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  color: #f9e42e;
  margin: 0 auto;
}

.logos {
  margin: 0 auto;
  width: 160px;
  padding: 80px 0;
}

img.twitter, img.facebook {
  padding: 0 20px;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  margin: auto;
  background-color: #f0efef;
  overflow: hidden;
  content:"";
  padding: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




